h3{
    margin-top:100px;
    text-align:center;
    margin-bottom:30px;
}
.side{
    float:right;
    max-height:500px;
    overflow-x:hidden;
    overflow-y:scroll;
    border:solid 5px #555;
    text-align:right;
    margin-right: 2%;
    padding: 0px;
}
.side .msg{
    width:100%;
    min-height:70px;
    border-bottom:dotted 1px;
    padding: 10px;
    display: :table;
    height: auto;
    transition:0.7s;
    -webkit-transition:0.7s;
    cursor: pointer;
}
.side .msg:hover{
    background: #04518c;
    color: #fff;
}
.side img{
    width:20%;
    max-width:50px;
    display:table;
    float:right;
    border:solid 2px #555;
    clear:both;
}
.msg span{
    display:block;
    width:80%;
    float:right;
    padding:5px;
}
.msg .order-info{
    display:none;
}
.msgs{
    padding:10px;
}
.msgs .time{
    background:#ddd;
    width:200px;
    float:right;
    text-align:center;
    border:dotted 2px #777;
    margin-bottom:20px;
}
.order-info ul{
    display:table;
    width:100%;
}
.order-info li{
    list-style-type:none;
    text-align:right;
    display:block;
    width:70%;
    float:right;
    padding:5px;
}
.order-info li.title{
    width:30%;
    font-weight:bold;
}